<html>
  <head>
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="favicon.svg">
    <link rel="mask-icon" href="mask-icon.svg" color="#000000">
    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
    <link rel="manifest" href="manifest.json">

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <style>
      body {
        margin: 0;
        width: 100%;
      }
      html, body {
        position: fixed;
        overflow: hidden;
      }
      svg {
        width: 100%;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
